<a href="https://colab.research.google.com/github/tubaaktas/Kosullar-Donguler/blob/main/Ko%C5%9Fullar%26D%C3%B6ng%C3%BCler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Conditions**

# **if,else,elif**

In [ ]:
if 1 == 1:
  print("True")

if 1 == 2: #buradaki islemin sonucu true olsaydi ekranda False görebilecektik
  print("False")

True

In [ ]:
num = 11
if num == 10: #false
  print("number is 10")
elif  num == 11: #true
  print("number is 11")

number is 11

In [ ]:
def num_check(number):
  if number == 10: #True ise
    print("Number is 10")
  else: # True degilse
    print("Number is not 10")


num_check(10)

Number is 10

In [ ]:
def num_check2(num):
  if num > 10:
    print("greater than 10")
  elif num <10:
    print("less than 10")
  else:
    print("equal to 10")

num_check2(11)
num_check2(5)
num_check2(10)

greater than 10
less than 10
equal to 10

# **for** **loop**

In [ ]:
students=["Ali", "John", "Adem","Luis", "Tolgay" ,"Kaan","Mert"]

In [ ]:
for student in students:
  print(student.upper())

ALI
JOHN
ADEM
LUIS
TOLGAY
KAAN
MERT

In [ ]:
salaries = [1000,1230, 2344,9830]

for salary in salaries:
  print(salary)

for salary in salaries:
  print(int(salary*20/100+salary))

1000
1230
2344
9830
1200
1476
2812
11796

In [ ]:
#DONT REPEAT YOURSELF!

def new_salary(salary, rate):
 return salary * rate/100 + salary

for salary in salaries:
  print(new_salary(salary, 18))

1180.0
1451.4
2765.92
11599.4

In [ ]:
for salary in salaries:
  if salary >= 3000:
    print(new_salary(salary, 10))
  else:
    print(new_salary(salary, 20))

1200.0
1476.0
2812.8
10813.0

**UYGULAMA**

In [ ]:
def upp_two_index(string):
  new_str = ""
  for i in range(len(string)):
    if i % 2 == 0:
      new_str += string[i].upper()
    else:
      new_str += string[i].lower()
  print(new_str)

In [ ]:
upp_two_index("bEnim AdIM TugbA")

BeNiM AdIm tUgBa

# **Break & While & Continue**

In [ ]:
#break
salaries = [1000, 2000, 3000, 4000, 5000]

for salary in salaries:
  if salary == 3000:
    break
  print(salary)

1000
2000

In [ ]:
#continue
for salary in salaries:
  if salary == 3000:
    continue
  print(salary)

1000
2000
4000
5000

In [ ]:
#while
number = 1
while number < 5: #number 5ten kucuk oldugu surece
  print(number)
  number +=1

1
2
3
4

# **Enumerate : Otomatik Counter/Indexer ile for loop**

In [ ]:
students = ["Ali", "Mehmet", "Simay", "Rüya"]

for student in students:
  print(student)

for index, student in enumerate(students):
  print(index, student, sep="->")

Ali
Mehmet
Simay
Rüya
0->Ali
1->Mehmet
2->Simay
3->Rüya

In [ ]:
cift = []
tek = []

for index, student in enumerate(students):
  if index % 2 == 0:
    cift.append(student)
  else:
    tek.append(student)

print(cift, tek, sep="\n")

['A', 'V', 'W', 'G']
['S', 'E', 'T']

#Cift indextekileri bir listeye tekleri bir listeye ve bu listeleri tek bir listede tutma :

In [ ]:
#mycode
def divide_students(list):
  cift = []
  tek = []
  total = [tek, cift]
  for index, student in enumerate(list):
    if index % 2 == 0:
      cift.append(student)
    else:
      tek.append(student)
  return total

In [ ]:
students = ["A", "S", "V", "E", "W", "T", "G"]
divide_students(students)

[['S', 'E', 'T'], ['A', 'V', 'W', 'G']]

In [ ]:
#Vahit Keskin's Code

def divide_students_original(students):
  groups = [[], []]
  for index, student in enumerate(students):
    if index % 2 == 0:
      groups[0].append(student)
    else:
      groups[1].append(student)
  return groups

In [ ]:
divide_students_original(students)

[['A', 'V', 'W', 'G'], ['S', 'E', 'T']]

# Alternating Fonksiyonunun Enumerate ile Yazılması

In [ ]:
#Enumerate: enumerate(iterable, start=0) , Iterable: any object that supports iteration, Start: the index value from which the counter is to be started, by default it is 0
# Yinelenebilir: Yinelemeyi destekleyen herhangi bir nesne, Başlangıç: sayacın başlatılacağı dizin değeri, varsayılan olarak 0'dır.
def alternatig_with_enumerate(string):
  new_str = ""
  for i, letter in enumerate(string):
    if i % 2 == 0:
      new_str += letter.upper()
    else:
      new_str += letter.lower()
  return new_str

In [ ]:
alternatig_with_enumerate("hi lovely python user")

'Hi lOvElY PyThOn uSeR'

#ZİP

In [ ]:
#Ayrı listeleri tek bir liste icerisine her birisinde bulunan elemanları aynı sırada zipleyerek bir araya getirip, her birisini tek bir eleman şeklinde görebileceğimiz formda birleştirdi.
list1 = ["a","b","c","d"]
list2 = [1,2,3,4]
list3 = ["Lale","Zambak","Menekşe","Lavanta"]

list(zip(list1,list2,list3))

[('a', 1, 'Lale'),
 ('b', 2, 'Zambak'),
 ('c', 3, 'Menekşe'),
 ('d', 4, 'Lavanta')]

## Lambda & Map & Filter & Reduce

In [ ]:
def sum(x,y):
  return x + y

sum(1,9) * 2

20

In [ ]:
#lamdaların def den farkı kullan at fonksiyonlardır.
new_sum = lambda x, y : x + y # bu sekilde yer tutmadan bir noktada kullanıp atilirlar.

new_sum(1,9)*2

20

In [ ]:
#map : Bir fonksiyon ve bu fonksiyonu uygulayabilecegi bir nesne vererek for dongusu yazmadan maplemis oluruz.
salaries = [1000, 2000, 3000, 4000, 5000]

def new_salary(x):
  return x * 20 /100 + x

new_salary(5000)

for salary in salaries:
  print(new_salary(salary))

#######################################
#del new_salary
#list(map(new_salary, salaries))
list(map(lambda x : x * 20 / 100 + x, salaries))

1200.0
2400.0
3600.0
4800.0
6000.0

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [ ]:
list(map(lambda x: x**2, salaries))

[1000000, 4000000, 9000000, 16000000, 25000000]

In [ ]:
#FILTER
list_store = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x % 2 == 0, list_store))#2ye bolumunden 0 kalanlari listele

[2, 4, 6, 8, 10]

In [ ]:
#REDUCE : Azaltma anlamındaki bu fonksiyon bağımsız değişkeninde iletilen belirli bir işlevi, iletilen dizide belirtilen tüm liste öğelerine uygulamak için kullanılır.
from functools import reduce
list_store = [1,2,3,4,5] #Once 1 ile 2 yi topladi sonra 3 ü ekledi sonra 4 ü ta ki listede eleman kalmayana kadar bu islemi gerceklestirdi.
reduce(lambda a, b: a + b, list_store)

15